# Virtual environment (if using venv)
venv/
__pycache__/
*.pyc
*.pyo

# IDE configuration files
.vscode/
.idea/
.vs/

# Operating system configuration files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files and dependency logs
*.log
*.bak
*.swp

# Data and output files
*.csv
*.xlsx
*.pkl  # Python pickle files
*.txt

# Packaging files
*.egg
*.egg-info
*.tar.gz
*.zip
*.whl
