# Virtual environment (if using venv)
venv/
__pycache__/
*.pyc
*.pyo

# IDE configuration files
.vscode/
.idea/
.vs/

# Operating system configuration files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files and dependency logs
*.log
*.bak
*.swp

# Data and output files
*.csv
*.xlsx
*.pkl  # Python pickle files

# Specific known files
clean-file.xlsx
updated_clean_file.xlsx
reference_report.xlsx
reference_report_v1.xlsx
input_file.xlsx

# Specific to MigrationDataCleaningTool
MigrationDataCleaningTool/__pycache__/
MigrationDataCleaningTool/*.pyc

# Specific to Other_Scripts
Other_Scripts/geocode_cache.pkl
Other_Scripts/geocoded_output.xlsx

# Packaging files
*.egg
*.egg-info
*.tar.gz
*.zip
*.whl
